/* Allgemeine Stile */
@charset 'utf8';

@font-face {
  font-display: swap;
  font-family: 'Nunito';
  src: url('./fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 1.3rem 'Nunito', sans-serif;
  font-variation-settings: 'wght' 550;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background: #F5F5F5;
  color: #222;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}